{% extends 'base.html' %}
{% block body %}
    <div class="container">
    <div class="list-group">
<br>
      
        <a href="{% url 'ops1'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Operations on strings</a>
        <br>
        <a href="{% url 'database'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Implementation of database</a>
        <br>
        <a href="{% url 'stack'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Stack using array of Structures</a>
        <br>
        <a href="{% url 'queue'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Queue using array of Structures</a>
        <br>
        <a href="{% url 'stackpointer'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Stack using pointers to arrays</a>
        <br>
        <a href="{% url 'queuepointer'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Queue using pointer to arrays</a>
        <br>
        <a href="{% url 'linked'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Operations on linked list</a>
        <br>
        <a href="{% url 'qlink'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Queue using linked list</a>
        <br>
        <a href="{% url 'stacklink'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Stack using Linked List</a>
        <br>
        <a href="{% url 'postfix'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Evaluate postfix expression</a>
        <br>
        <a href="{% url 'polynomial'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">C program to add two polynomials</a>
        <br>
        <a href="{% url 'bst'%}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Implemenation of Binary search tree in c</a>
        <br>
     
        </div>
    </div>

{% endblock body %}

    