{% extends 'base2.html' %}
{% block heading %}c++ program to show multiple inheritance{% endblock heading %}
{% block code %}/*Problem Statement: - write a  program in c++ to read and display the information of employee using <br>
        Multiple inheritance .Use basic info and department info as a base class of EmployeeClass.<br>
        <br>
        #include<iostream><br>
        using namespace std;<br>
        <br>
        class basic_info<br>
        {<br>
            char name[15];                                //private data meembers<br>
            int age;<br>
            public:                                             //Access Specifier<br>
                void read_b()<br>
                {<br>
                    cout<<"\nEnter the name of Employee : ";<br>
                    cin>>name;<br>
                    cout<<"\nEnter the age of Employee : ";<br>
                    cin>>age;<br>
                }<br>
                void display_b()<br>
                {<br>
                    cout<<"\nName : "<<name;<br>
                    cout<<"\nAge : "<<age;<br>
                }<br>
        };<br>
        class dept_info                                    <br>
        {<br>
            char dept[15];<br>
            int exp;<br>
            public: <br>
                void read()<br>
                {<br>
                    cout<<"\nEnter the department of Employee : ";<br>
                    cin>>dept;<br>
                    cout<<"\nEnter the experience of Employee : ";<br>
                    cin>>exp;<br>
                }<br>
                void display()<br>
                {<br>
                    cout<<"\nDepartment Name : "<<dept;<br>
                    cout<<"\nExperience : "<<exp;<br>
                }<br>
        };<br>
        <br>
        class employee: public basic_info, public dept_info                //Two Base class are inherited in newly derived class employee<br>
        {<br>
            public:		<br>
        };<br>
        <br>
        int main()<br>
        {<br>
            int total,id,ch;<br>
            cout<<"Enter total number of Employees :- ";<br>
            cin>>total;<br>
            employee emp[total];<br>
            do<br>
            {<br>
                cout<<"|| 1. Enter Basic_Info\t2. Display Basic_Info  || \n|| 3. Enter Dept_Info \t4.Display Dept_Info   ||";<br>
                cout<<"\nEnter your Choice :- ";<br>
                cin>>ch;<br>
                cout<<"Enter Employee ID No :- ";<br>
                cin>>id; <br>
                switch(ch)<br>
                {<br>
                    case 1:<br>
                        emp[id].read_b();<br>
                        break;<br>
                    case 2:<br>
                        emp[id].display_b();<br>
                        break;<br>
                    case 3:<br>
                        emp[id].read_d();<br>
                        break;<br>
                    case 4:<br>
                        emp[id].display_d();<br>
                        break;<br>
                    default:<br>
                        cout<<"Invalid";<br>
                        break;		<br>
                }<br>
                cout<<"\n\nDo u want to continue press 1 else press 0 :- ";<br>
                cin>>ch;<br>
            }while(ch==1);<br>
            return 0;<br>
        }<br>
        <br>{% endblock code %}
