{% extends 'base2.html' %}
{% block heading %}Python program to find even and odd numbers{% endblock heading %}
{% block code %} p=int(input("enter no of elements in the list1: "))<br>
        m=[]<br>
        l=[]<br>
        def odd_even(q):<br>
            for i in range(p):<br>
                elements=int(input())<br>
                if elements%2==0:<br>
                    l.append(elements)<br>
                else:<br>
                     m.append(elements)<br>
            k=[l,m]<br>
            return k<br>
        print(odd_even(p))<br>
        <br>
        <br>{% endblock code %}

