{% extends 'base.html' %}
{% block body %}
    <div class="container">
    <div class="list-group">
<br>
      
        <a href="{% url 'call_address' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">swap function using call by address</a>
        <br>
        <a href="{% url 'call_ref' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">swap function using call by reference</a>
        <br>
        <a href="{% url 'classs' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Cpp program for classes and objects</a>
        <br>
        <a href="{% url 'compcalc' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">cpp program to perform operations on complex numbers</a>
        <br>
        <a href="{% url 'defaultcons' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">program in c++ to implement string class using constructor and destructor</a>
        <br>
        <a href="{% url 'dyna_ini' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for dynamic initialization of variables</a>
        <br>
        <a href="{% url 'func_overload' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for function overloading</a>
        <br>
        <a href="{% url 'inline' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for inline function</a>
        <br>
        <a href="{% url 'multi' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for multiple inheritance</a>
        <br>
        <a href="{% url 'op_comp' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for complex operator poverloading</a>
        <br>
        <a href="{% url 'paramet' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for parametrized constructor</a>
        <br>
        <a href="{% url 'refer_var' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for reference variable demostration</a>
        <br>
        <a href="{% url 'sortingcpp' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for sorting</a>
        <br>
        <a href="{% url 'stack_class' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for stack using classes</a>
        <br>
        <a href="{% url 'swap_val' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for swap by value function</a>
        <br>
        <a href="{% url 'unary' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">c++ program for unary operator overloading</a>
        <br>
        
     
        </div>
    </div>

{% endblock body %}

    