{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="list-group">
    <br>
          
            <a href="{% url 'hello' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Hello world in python</a>
            <br>
            <a href="{% url 'strpal' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">python program to check if string is palindrome or not</a>
            <br>
            <a href="{% url 'oddeven' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Even or Odd numbers</a>
            <br>
            <a href="{% url 'revprint' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">print reversed list using python</a>
            <br>
            <a href="{% url 'sum' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python Program to get sum of first n natural numbers</a>
            <br>
            <a href="{% url 'random' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Random number guessing game</a>
            <br>
            <a href="{% url 'common' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python program to find common numbers in two list</a>
            <br>
            <a href="{% url 'complex_python' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python program to perform operations on complex numbers</a>
            <br>
            <a href="{% url 'even_sum' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python program to find sum of first n even numbers</a>
            <br>
            <a href="{% url 'strongnum' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python program for strong number</a>
            <br>
            <a href="{% url 'pystring' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python program for strings</a>
            <br>
            <a href="{% url 'pysub' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python program for substring</a>
            <br>
            <a href="{% url 'pysum' %}" class="list-group-item list-group-item-action list-group-item-dark" style="border-radius: 6px;">Python program to find sum of digits</a>
            <br>
{% endblock body %}          
    